<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css} " />
    <title>Todo Application</title>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        <h5>To Do Manager</h5>
        <br>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <br><br>
            <p th:text="${error}" style="color:indianred"></p>
            <p th:text="${message}" style="color:lightgreen"></p>
            <button type="submit" class="btn btn-success" th:formaction="@{/authenticate}" th:formmethod="post">Login</button>
        </form>
        <hr />
        <form action="#">
            <button type="submit" class="btn btn-info" th:formaction="@{/signup}" th:formmethod="get">Signup</button>
        </form>
    </div>
</div>
</body>