<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css} " />
    <title>Edit Task</title>
</head>
    <body>
    <div class="container">
        <div class="col-md-6">
            <form action="#" th:action="@{/todo/{id}(id=${task.id})}" th:object="${task}" method="POST">
                <div class="form-group">
                    <label for="taskName">Name</label>
                    <input id="taskName" class="form-control" type="text" th:field="*{taskName}" placeholder="Add a name">
                </div>
                <div class="form-group">
                    <label for="taskDescription">Description</label>
                    <input id="taskDescription" class="form-control" type="text" th:field="*{taskDescription}" placeholder="Add a description">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="categoryId" id="category">
                        <option value="" th:selected="${task.category == null}">-- Select Category --</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.categoryName}"
                                th:selected="${task.category != null and task.category.id == category.id}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="deadline">Name</label>
                    <input class="form-control" type="date" th:field="*{deadline}" id="deadline">
                </div>
                <br>
                <button class="btn btn-default" type="submit">Update</button>
                <br><br>
                <p><a class="btn btn-danger" href="/logout">Logout</a></p>
            </form>
        </div>
    </div>
    </body>
</html>